.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: 10;
  display: flex;
  height: 15%;
  overflow: hidden;
  align-items: center;

  .author {
    display: flex;
    align-items: center;
    padding-left: 20px;

    span {
      color: white;
    }
  }

  .controller {
    display: flex;
    align-items: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }

  @media screen and (max-width: 1024px) {
    margin-left: -30px;
    align-items: center;
    justify-content: center;
    display: flex;

    .author {
      margin-bottom: 100px;
      margin-left: 50px;
      padding-left: 0px;
    }

    .controller {
      display: block;
    }

  }
}

@media screen and (max-width: 600px) {
}


